<%= render 'partials/banner' %>
<%= render 'partials/navbar' %>

<div id="post-wrapper">
  <% @posts.each do |post| %>
    <div class="post-container box">

      <div class="post-title">
        <%= link_to post.title, '#' %>
      </div>

      <div class="post-tags">
        <span>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span><%= post.created_at.strftime("%B %d, %Y") %></span>
        </span>
        <span>
          <i class="fa fa-tags" aria-hidden="true"></i>
          <% post.tags.each_with_index do |tag, i| -%><%= ',' unless i == 0  -%>
            <%= link_to tag.tag, '#', class: "tag" -%>
          <%- end %>
        </span>
        <span>
          <i class="fa fa-user" aria-hidden="true"></i>
          <span><%# post.author %>author</span>
        </span>
      </div>

      <div class="post-content">
        <%= Kramdown::Document.new(post.content).to_html.html_safe %>
        <read-more>Read more...</read-more>
      </div>
    </div>
  <% end %>
</div>